#version: '3.8'
services:
    app:
        build:
            context: .
            dockerfile: app/Docker/Dockerfile
        container_name: laravel-app
        volumes:
            - .:/var/www/html
        networks:
            - laravel

    web:
        image: nginx:latest
        container_name: laravel-web
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - C:/Users/Yuriy/Desktop/my-admin-panel/app/Docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - laravel

    db:
        image: mysql:8.0
        container_name: laravel-db
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: secret
        ports:
            - "3306:3306"
        networks:
            - laravel

networks:
    laravel:
        driver: bridge
